/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	flex-direction: row;
	align-content: space-evenly;
}
.item {
	/*justify-content: flex-start;*/
}
.item-1 {
	margin-right: auto;
}
